/* You can add global styles to this file, and also import other style files */
body {
    background: #23252D !important;
}

.subHeading {
    font-weight: 300;
    color: white;
}

.container {
    color: #CACACC;
}

.smallerImg {
    width: 20%;
}

i:hover {
    color: white !important;
}